/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    /*    line-height: 1.4;*/
}

body {
    height: 100%;
    width: 100%;
    /*    background-color: azure;*/
}

.controlsContainer,
.videoArrayContainer {
    position: absolute;
    display: block;
    width: 100% !important;
}

.controlsContainer {
    position: absolute;
    min-height: 50px;
    width: 100%;
    display: block;
    /*    border: 1px solid black;*/
}

.controlElement {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.timeText {
    min-width: 50px;
}

label:hover,
input:hover {
    cursor: default;
}

button {
    width: 5%;
    /*    height: inherit;*/
    
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

#seekBar {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.volumeBar {
    width: 100px;
    margin-left: 5px;
    margin-right: 10px;
}

.videosContainer {
    position: absolute;
    display: block;
    /*    top: 100px;*/
    
    top: 50px;
    height: 94%;
    width: 100%;
}

.videosContainer > .videoContainer> video {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0;
    border: solid black 1px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.videoContainer {
    display: inline-block;
    width: 50%;
    height: 50%;
    z-index: 1;
}

.buttonsContainer {
    float: right;
    margin-top: 0em;
    width: 1em;
    height: 2em;
    position: absolute;
    margin-left: -2.3em;
    z-index: 2;
}

.mutebtn,
.closebtn {
    float: left;
    width: 1.5em;
    height: 1.5em;
}
.mutebtn{
    margin-top: 1em;
}

.dropzone {
    width: 250px;
    height: 45px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-family: Arial;
}

.dropZoneContainer {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.dropZoneText {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}