<!doctype html>
<html class="no-js" lang="" ng-app="MultiVideo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Multi Video Player</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--    <script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>

    <script src="js/videogular.min.js"></script>
    <scrip src="js/vg-controls.min.js"></scrip>



    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-controller="VideoCtrl">

    <script type="text/ng-template" id="dropZone">

    </script>
    <script type="text/ng-template" id="muteBtn">

    </script>

    <div class="controlsContainer">
        <button class="controlElement" ng-click="togglePlayPause()" ng-class="status=='paused'?'ion-play':'ion-pause'"></button>
        <button class="controlElement ion-stop" ng-click="stop()" ng-class="ion-stop"></button>
        <input class="controlElement" id="seekBar" name="volumeMain" type="range" ng-model="currentTime" min="0" ng-change="doSeek()" step="0.01">
        <span class="controlElement timeText">
            <span ng-bind="currentTime | mmss"></span>
        <span>/</span>
        <span ng-bind="duration | mmss"></span>
        </span>
        <button class="controlElement" ng-click="toggleMute([0,1,2,3])" ng-class="muted?'ion-volume-mute':'ion-volume-medium'"></button>
        <input class="controlElement volumeBar" id="volumeMain" name="volumeMain" type="range" ng-model="volume" min="0" max="1" step="0.1" ng-click="setVolume()">
        <div class="controlElement">
            <label for="playbackRate1">1x</label>
            <input id="playbackRate1" type="radio" ng-model="playbackRate" value="1" name="playbackRate" ng-change="setPlaybackRate()">
            <label for="playbackRate15">1.5x</label>
            <input id="playbackRate15" type="radio" ng-model="playbackRate" value="1.5" name="playbackRate" ng-change="setPlaybackRate()">
            <label for="playbackRate2">2x</label>
            <label for="playbackRate2">2x</label>
            <input id="playbackRate2" type="radio" ng-model="playbackRate" value="2" name="playbackRate" ng-change="setPlaybackRate()">
            <label for="playbackRate3">3x</label>
            <input id="playbackRate3" type="radio" ng-model="playbackRate" value="3" name="playbackRate" ng-change="setPlaybackRate()">
        </div>
    </div>
    <div class="videosContainer">
        <div class="videoContainer" ng-repeat="video in videos">

            <video id="{{'video-'+$index}}" ng-src="{{video.src}}" dropzone="[video/mp4, video/ogg]" mutebtn="{{$index}}"></video>
            <span class="buttonsContainer">
                  <button id="{{'close-'+$index}}" class="closebtn ion-close"  ng-click="clearVideo([$index])"></button>
            <button id="{{'mute-'+$index}}" class="mutebtn" ng-class="video.obj.muted?'ion-volume-mute':'ion-volume-medium'" ng-click="toggleMute([$index])" ></button>
          
            </span>
        </div>

    </div>

</body>

</html>