
$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

html,body{
        // height : 100000px;
        margin: 0 auto !important;
        padding: 0;
        overflow: hidden;
        font-family: RobotoDraft, Roboto, sans-serif;
}


md-radio-button{
    width: 100px;
    overflow: hidden;
    height: 1em;

    ::-webkit-scrollbar{
        display: none;
    }
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -15px;
    overflow: hidden;
    #radio-1{
        margin-top:15px;
    }
    .md-radio-label{
        width: 100px;
        float: left !important;
        padding-left: 5px;
    }
    .md-radio-label-content{
        padding-left: 10px
    }
}