
$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

html,body{
        margin: 0 auto ;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        font-family: RobotoDraft, Roboto, sans-serif;
        
}
.mvp-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    
mvp-video-controls{
    height: 64px;
}
mvp-video-elements{
    height: 100%;
    flex: 1 auto;
    background-color: $accent-color;
}
.footer{
    min-height: 20px;
    background-color: $divider-color;
    color: $secondary-text-color;
}
}

md-radio-button{
    width: 100px;
    // overflow: hidden;
    height: 1em;

    ::-webkit-scrollbar{
        display: none;
    }
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -15px;
    overflow: hidden;
    #radio-1{
        margin-top:15px;
    }
    .md-radio-label{
        width: 100px;
        float: left !important;
        padding-left: 5px;
    }
    .md-radio-label-content{
        padding-left: 10px
    }
}